@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  font-weight: 400;
}

.tip-percentage {
  @apply flex flex-wrap gap-2 mt-3

}

.tip-percentage span { 
  @apply border w-[134px] py-2 rounded-lg bg-veryDarkCyan flex justify-center text-white font-semibold
}